.inter {
  font-family: "Inter", serif;
}

html {
    height: 100dvh;
}

body {
    min-height: 100dvh;
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}