.inter {
  font-family: "Inter", serif;
}

html {
    height: 100dvh;
}

body {
    min-height: 100dvh;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 48px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

img {
    width: 60dvh;
    height: auto;
}